<div class="container">
    <div class="my-3">
        <h2>Take, TakeLast, TakeUntil Operator</h2>
        <!-- Take() we can take data from observable stream  -->
    </div>
    <div class="row">
        <div class="col-md-4">
            <strong>
                Ex - 01 | Take(5)
            </strong>
            <hr>
            <p class="bg-light border-round p-4">
                <strong>Take</strong>
            </p>
            <br />
            <ul id="elContainer1"></ul>
        </div>
        <div class="col-md-4">
            <strong>
                Ex - 02 | TakeLast(3)
            </strong>
            <hr>
            <p class="bg-light border-round p-4">
                <strong>TakeLast</strong>
            </p>
            <br />
            <ul id="elContainer2"></ul>
        </div>
        <div class="col-md-4">
            <strong>
                Ex - 03 | TakeUntil(3) (Conditions)
            </strong>
            <hr>
            <p class="bg-light border-round p-4">
                <strong>Take</strong>
            </p>
            <br />
            <ul id="elContainer3"></ul>
        </div>
    </div>
</div>