<div class="container">
  <div class="my-3">
    <h2>Of and from</h2>
    <br>
    <br>
    <strong>
      Ex - 1 (OF)
    </strong>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <p class="bg-light border-round p-4">
          <strong>Data</strong> OF 'Anup', 'Shekhar', 'Sharma'
        </p>
        <hr>
        <ul id="elContainer1">
        </ul>
      </div>

      <div class="col-md-6">
        <p class="bg-light border-round p-4">
          <strong>Data</strong> OF as Object (&#123; a: 'Anup', b: 'Shekhar', c: 'Sharma' &#125;)
        </p>
        <hr>
        <ul id="elContainer2">
          <li><strong>a : </strong>{{obsMsg.a}}</li>
          <li><strong>b : </strong>{{obsMsg.b}}</li>
          <li><strong>c : </strong>{{obsMsg.c}}</li>
        </ul>
      </div>
    </div>


    <br>
    <br>
    <strong>
      Ex - 2 (From)
    </strong>

    <div class="row">
      <div class="col-md-4">
        <strong>Array</strong>
        <p class="bg-light border-round p-4">
          <strong>Data</strong> FROM (['Tirth', 'Keval', 'Kartik'])
        </p>
        <hr>
        <ul id="elContainer3">
        </ul>
      </div>
      <div class="col-md-4">
        <strong>PROMISE</strong>
        <p class="bg-light border-round p-4">
          <strong>Data</strong> Promise to Observable (['Tirth', 'Keval', 'Kartik'])
        </p>
        <hr>
        <ul id="elContainer4">
        </ul>
      </div>
      <div class="col-md-4">
        <strong>String</strong>
        <p class="bg-light border-round p-4">
          <strong>Data</strong> String to Observable (['Tirth', 'Keval', 'Kartik'])
        </p>
        <hr>
        <ul id="elContainer5">
        </ul>
      </div>
    </div>
  </div>
</div>