.box {
    padding: 20px !important;
}

.red {
    background: red !important;
}

.green {
    background: green !important;
}

.blue {
    background: blue !important;
}

.black {
    background: black !important;
}

.yellow {
    background: yellow !important;
}