<div class="container">
  <div class="my-3">
    <h2>Map Operator</h2>
    <!-- Map used for data transform -->
    <div class="row">
      <div class="col-md-4">
        <strong>
          Ex - 01
        </strong>
        <hr>
        <p class="bg-light border-round p-4">
          <strong>Map</strong> Map data
        </p>
        <br />
        <p>Messages :- <strong class="text-success">{{messages1}}</strong> </p>
      </div>
      <div class="col-md-4">
        <strong>
          Ex - 02
        </strong>
        <hr>
        <p class="bg-light border-round p-4">
          <strong>Map</strong> data data * 2000
        </p>
        <br>
        <p>Messages :- <strong class="text-success">{{messages2}}</strong> </p>
      </div>
      <div class="col-md-4">
        <strong>
          Ex - 03
        </strong>
        <hr>
        <p class="bg-light border-round p-4">
          <strong>Map</strong> Map Object data
        </p>
        <br>
        <ul id="elContainer"></ul>
      </div>
    </div>
  </div>
</div>